<div
	id="headerbar"
	ng-class="{headerbarHide: getLayoutOption('headerBarHidden'), headerbarShow: !getLayoutOption('headerBarHidden')}"
	ng-show="!getLayoutOption('fullscreen')"
	ng-cloak>
	<div class="container-fluid">
		<div class="row">
			<div ng-repeat="item in $ctrl.bar" class="col-xs-6 col-sm-2">
				<a href="" ng-click="$ctrl.action(item)" class="shortcut-tiles {{item.color}}">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon {{item.icon}}" ></i></div>
					</div>
					<div class="tiles-footer">
						{{item.name}}
					</div>
				</a>
			</div>				
		</div>
	</div>
</div>