<div class="col-md-5 animated-content" ng-drop="true">
	<panel panel-class="panel-gray no-padding" heading="Live Analytics" ng-drag="true">
		<panel-controls>
			<panel-control-collapse></panel-control-collapse>
			<panel-control-title></panel-control-title>
			<panel-control-colors></panel-control-colors>                               
		</panel-controls>
	
		<div class="mb0" d-flot-chart style="width: 100%; height:211px" data-flot-data="realtimeData" data-flot-options="realtimeDashboard"></div> 
	</panel>
</div>