<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li>Phone Detail</li>
	</ol>

	<h1>Phone Detail</h1>
	<div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                    Export as <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>
</div>
 <div class="container-fluid">
	<panel panel-class="panel-primary no-padding" heading="Phone List">			
			
			<div class="phone-images">
				<img ng-src="assets/{{image.img}}" class="phone" ng-class="{selected: image.img === $ctrl.mainImageUrl}" ng-repeat="image in $ctrl.phone.images" />
			</div>

			<h1>{{$ctrl.phone.name}}</h1>

			<p>{{$ctrl.phone.description}}</p>

			<ul class="phone-thumbs">
			  <li ng-repeat="image in $ctrl.phone.images">
				<img ng-src="assets/{{image.img}}" ng-click="$ctrl.setImage(image.img)" />
			  </li>
			</ul>

			<ul class="specs">
			  <li>
				<span>Availability and Networks</span>
				<dl>
				  <dt>Availability</dt>
				  <dd>{{$ctrl.phone.availability}}</dd>
				</dl>
			  </li>
			  <li>
				<span>Battery</span>
				<dl>
				  <dt>Type</dt>
				  <dd>{{$ctrl.phone.battery_type}}</dd>
				  <dt>Talk Time</dt>
				  <dd>{{$ctrl.phone.battery_talkTime}}</dd>
				  <dt>Standby time (max)</dt>
				  <dd>{{$ctrl.phone.battery_standbyTime}}</dd>
				</dl>
			  </li>
			  <li>
				<span>Storage and Memory</span>
				<dl>
				  <dt>RAM</dt>
				  <dd>{{$ctrl.phone.storage_ram}}</dd>
				  <dt>Internal Storage</dt>
				  <dd>{{$ctrl.phone.storage_flash}}</dd>
				</dl>
			  </li>
			  <li>
				<span>Connectivity</span>
				<dl>
				  <dt>Network Support</dt>
				  <dd>{{$ctrl.phone.connectivity_cell}}</dd>
				  <dt>WiFi</dt>
				  <dd>{{$ctrl.phone.connectivity_wifi}}</dd>
				  <dt>Bluetooth</dt>
				  <dd>{{$ctrl.phone.connectivity_bluetooth}}</dd>
				  <dt>Infrared</dt>
				  <dd>{{$ctrl.phone.connectivity_infrared | checkmark}}</dd>
				  <dt>GPS</dt>
				  <dd>{{$ctrl.phone.connectivity_gps | checkmark}}</dd>
				</dl>
			  </li>
			  <li>
				<span>Android</span>
				<dl>
				  <dt>OS Version</dt>
				  <dd>{{$ctrl.phone.android_os}}</dd>
				  <dt>UI</dt>
				  <dd>{{$ctrl.phone.android_ui}}</dd>
				</dl>
			  </li>
			  <li>
				<span>Size and Weight</span>
				<dl>
				  <dt>Dimensions</dt>
				  <dd >{{$ctrl.phone.sizeAndWeight_dimensions}}</dd>
				  <dt>Weight</dt>
				  <dd>{{$ctrl.phone.sizeAndWeight_weight}}</dd>
				</dl>
			  </li>
			  <li>
				<span>Display</span>
				<dl>
				  <dt>Screen size</dt>
				  <dd>{{$ctrl.phone.display_screenSize}}</dd>
				  <dt>Screen resolution</dt>
				  <dd>{{$ctrl.phone.display_screenResolution}}</dd>
				  <dt>Touch screen</dt>
				  <dd>{{$ctrl.phone.display_touchScreen | checkmark}}</dd>
				</dl>
			  </li>
			  <li>
				<span>Hardware</span>
				<dl>
				  <dt>CPU</dt>
				  <dd>{{$ctrl.phone.hardware_cpu}}</dd>
				  <dt>USB</dt>
				  <dd>{{$ctrl.phone.hardware_usb}}</dd>
				  <dt>Audio / headphone jack</dt>
				  <dd>{{$ctrl.phone.hardware_audioJack}}</dd>
				  <dt>FM Radio</dt>
				  <dd>{{$ctrl.phone.hardware_fmRadio | checkmark}}</dd>
				  <dt>Accelerometer</dt>
				  <dd>{{$ctrl.phone.hardware_accelerometer | checkmark}}</dd>
				</dl>
			  </li>
			  <li>
				<span>Camera</span>
				<dl>
				  <dt>Primary</dt>
				  <dd>{{$ctrl.phone.camera_primary}}</dd>
				  <dt>Features</dt>
				  <dd>{{$ctrl.phone.camera_features}}</dd>
				</dl>
			  </li>
			  <li>
				<span>Additional Features</span>
				<dd>{{$ctrl.phone.additionalFeatures}}</dd>
			  </li>
			</ul>
		</panel>
	</div>
