<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li>Phone List</li>
	</ol>

	<h1>Phone List</h1>
	<div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                    Export as <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>
</div>
 <div class="container-fluid">
	<panel panel-class="panel-primary no-padding" heading="Phone List">
		<div class="row">
			<div class="col-md-2">
			  <!--Sidebar content-->
			  <p>
				Search:
				<input ng-model="$ctrl.query" />
			  </p>

			  <p>
				Sort by:
				<select ng-model="$ctrl.orderProp">
				  <option value="name">Alphabetical</option>
				  <option value="age">Newest</option>
				</select>
			  </p>
			</div>
			<div class="col-md-10 animated-content">
			  <!--Body content-->
			  
				  <ul class="phones">
					<li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail phone-list-item">
					  <a href="#/phone-detail/{{phone.id}}" >
						<img ng-src="assets/{{phone.images}}" alt="{{phone.name}}" class="img-rounded" width="104" height="136" />
					  </a>
					  <a href="#/phone-detail/{{phone.id}}">{{phone.name}}</a>
					  <p>{{phone.id}}-{{phone.description | limitTo:150}} ...</p>
					  <a href="#/phone-form/{{phone.id}}" class="btn btn-info" role="button"><i class="fa fa-edit"></i></a>
					</li>
				  </ul>
			  

			</div>
		</div>
	</panel>
</div>
